.ppl-talk-about {
  background-image: url(/dist/img/aboutFork/about-fork-bckgrnd.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 50px;
  @media (min-width: $break-point-1) {
    padding-top: 85px;
  }
  @media (min-width: $break-point-2) {
    padding-top: 110px;
  }
}
.ppl-talk-about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: $ppl-cards-title-color;
  text-align: center;
  margin: 0;
  @media (min-width: $break-point-1) {
    font-size: 42px;
    line-height: 44px;
  }
  @media (min-width: $break-point-2) {
    font-size: 48px;
    line-height: 50px;
  }
}
.ppl-talk-about__list {
  margin-top: 50px;
  display: grid;
  row-gap: 45px;
  @media (min-width: $break-point-1) {
    margin-top: 85px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
    column-gap: 7.8125%; /* 60/768 */
  }
  @media (min-width: $break-point-2) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 110px;
    column-gap: 7.5%; /* 90/1200 */
  }
}
.ppl-talk-about__list-item {
  font-family: $secondary-font;
  color: $ppl-cards-text-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  @include flex-center;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
}
.ppl-talk-about__item-description {
  text-align: center;
}
.ppl-talk-about__footer {
  font-family: $secondary-font;
  text-align: center;
  color: $ppl-footer-text-color;
  font-size: 14px;
  line-height: 21px;
  margin-top: 60px;
  @include flex-center;
  flex-direction: column;
  &::after {
    position: relative;
    top: 20px;
    content: "";
    display: block;
    height: 2px;
    width: 85%;
    background: #645766;
  }
  @media (min-width: $break-point-2) {
    padding-right: 15%;
    padding-left: 15%;
    margin-top: 120px;
  }
}
