.what-u-get {
  padding-top: 100px;
  padding-bottom: 40px;
  background: #f4f4f4;

  display: flex;
  position: relative;
  gap: 50px;
  @media (max-width: $break-point-2) {
    flex-direction: column-reverse;
    gap: 0;
    padding-bottom: 590px;
  }
  &__image {
    &__title {
      font-weight: 700;
      font-size: 48px;
      line-height: 50px;
      color: #8d81ac;
      @media (max-width: $break-point-2) {
        text-align: center;
      }
      @media (max-width: $break-point-1) {
        text-align: center;
        font-size: 26px;
        line-height: 28px;
      }
    }
    &__img {
      width: 100%;
      @media (max-width: $break-point-2) {
        position: absolute;
        bottom: 0;
      }
    }
    @media (max-width: $break-point-2) {
    }
  }
}

.services {
  max-width: 50%;
  padding-left: 90px;
  @media (max-width: $break-point-2) {
    max-width: 100%;
  }
  &-item {
    display: flex;
    gap: 25px;
    @media (max-width: $break-point-1) {
      flex-direction: column;
    }
    &__wrap {
      min-width: 111px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__icon {
      }
    }
    &__content {
      text-align: start;
      &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #323232;
      }
      &__subtitle {
        font-size: 14px;
        line-height: 21px;
        color: #848e97;
      }
    }
  }
}
