//Fonts
$main-font: "Montserrat";
$secondary-font: "lato";


//Кольори шрифтів хедеру 
$hdr-nav-bg-color: #27262A; 
$hdr-nav-txt-hover-color: #FFFFFF; 
$hdr-nav-txt-color: #8D81AC; 
$hdr-title-color: #FFFFFF; 
$hdr-text-color: #8D81AC; 
$hdr-subtext-color: #848E97; 
 
//Кольори шрифтів People Are Talking About Fork 
$ppl-cards-title-color: #FFFFFF; 
$ppl-cards-text-color: #FFFFFF; 
$ppl-footer-text-color: #A291A5; 

//breackpoints
$break-point-1: 481px;
$break-point-2: 993px;
$break-point-3: 1200px;