//Fonts
$main-font: "Montserrat";
$description-font: "lato";

//Кольори шрифтів хедеру
$hdr-nav-bg-color: #27262a;
$hdr-nav-txt-hover-color: #ffffff;
$hdr-nav-txt-color: #8d81ac;
$hdr-title-color: #ffffff;
$hdr-text-color: #8d81ac;
$hdr-subtext-color: #848e97;

//Кольори шрифтів People Are Talking About Fork
$plp-cards-text-color: #ffffff;
$plp-text-color: #a291a5;

//breackpoints
$break-point-1: 480px;
$break-point-2: 992px;
$break-point-3: 1200px;
